@main("Welcome to Play 2.0 By Example") {

   <h1>Welcome to Play 2.0 by Example</h1>
      <p>This is a living tutorial with the goal to provide pragmatic examples for common web application requirements.</p>

      <h2>Topics to be convered</h2>
      <ul>
        <li>Accessing PostgreSQL</li>
        <li>Accessing MongoDB</li>
        <li>Specification Driven Development</li>
        <li>Creating a JSON REST api</li>
      </ul>
      
      <h2>Advanced topics to be convered</h2>
      <ul>
        <li>Rendering markdown in play 2.0</li>
        <li>Using Play 2.0 and Akka</li>
        <li>Websockets, explaining Iteratee, Enumerators and Enumeratees</li>
        <li>Coffeescript usage</li>
        <li>Play 2.0 and Heroku</li>
      </ul>
}
